// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 5em;
  h3 {
    border-left: 1em solid #09f;
    margin: 1em 0 0;
    padding-left: 1em;
  }
  p {
    margin: 0;
    padding-left: 2.8em;
    text-transform: uppercase;
    color: #666;
    font-size: 85%;
  }
}